@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

:root {
  --purple: #5280e2;
  --green: #15cdcb;
  --bg-dark: #212226;
  --light-grey: #e0dede;
  --medium-grey: #2f3034;

  --menu-height: 65px;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0px;
  background: var(--purple);
  padding: 0;
  position: relative;
}

body,
button,
input,
select,
textarea {
  font-family: "Poppins", sans-serif;
  color: white;
  cursor: pointer;
}
p {
  color: var(--medium-grey);
}
h1 {
  font-size: 44px;
  text-align: center;
}
.card-title {
  color: var(--bg-dark);
}
h1,
h2 {
  font-weight: 400;
  color: black;
}

header {
  height: calc(100vh - 60vh);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: var(--bg-dark);
  height: 65px;
  padding: 0;
  z-index: 99;
}

nav ul {
  display: flex;
  justify-content: space-around;
  margin: auto;
  width: 100%;
  padding: 0;
}

nav ul a {
  font-size: 24px;
  text-decoration: none;
  color: aliceblue;
}

nav ul a svg {
  display: none;
}

.img-fluid {
  width: 100%;
  height: 40vh;
}

.carousel-marcas {
  margin-top: 20px;
  position: relative;
}

#botao_anterior,
#botao_proximo {
  position: absolute;
  top: calc(50% - 12px);
  color: #212226;
}

#botao_anterior {
  left: 30px;
}
#botao_proximo {
  right: 30px;
}

.endereço {
  margin-top: 25px;
  padding: 0 20px;
}

.endereço .geocalizacao {
  border: 1px solid blanchedalmond;
  border-radius: 5px;
}

/*////////////////////// AREA PARA CONTATO DA PAGINA//////// */
.contact {
  margin-top: 20px;
  padding: 0 20px;
  border-top: 15px solid wheat;
}
.contact .container-contact {
  display: flex;
  justify-content: space-evenly;  
}

.contact .container-contact .adress svg {
  width: 65px;
  height: 65px;
  color: green;
}
.contact .container-contact .telefone svg {
  width: 65px;
  height: 65px;
  color: green;

}

.contact .container-contact .whatsaap img {
  width: 65px;
  height: 65px;
}

.contact .container-contact .whatsaap,
.contact .container-contact .adress,
.contact .container-contact .telefone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

footer {
  width: 100%;
  height: 65px;
  text-align: center;
  padding: 20px;
  background: wheat;
  /* position: fixed;
  bottom: 0; */
}

/*/////////////////////// MEDIA QUERIES LAPTOP////////////////// */
@media (max-width: 1000) {
  nav ul a {
    font-size: 24pt;
  }

  nav ul a svg {
    display: none;
  }
}

/*///////////////////////MEDIA QUERIES TABLETS //////////////////////////*/
@media (max-width: 767px) {
  h1 {
    font-size: 20px;
  }

  .navegacao {
    display: none;
  }
}

/*///////////////////////MEDIA QUERIES CELULAR //////////////////////////*/
@media (max-width: 480px) {
  body {
    /* margin-bottom: calc(var(--menu-height) + 50px); */
  }

  nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    top: unset;
    padding: 0 15px;
  }

  nav ul a {
    font-size: 12px;
  }

  nav ul a svg {
    display: block;
    margin: 0 auto 10px;
  }
  h1 {
    font-size: 16pt;
  }
  footer {
    margin-bottom: calc(var(--menu-height) + 0px);
  }
}
